<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
<meta charset="utf-8"/>
<title>Roles</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css"
href="../static/css/style.css"
th:href="@{css/style.css}"/>
</head>
<body>
<div layout:fragment="content">
<div class="spacer col-md-6 col-xs-12">
<div class="card ">
<div class="card-header bg-primary text-white">Saisie d'un utilisateur:</div>
<div class="card-body">
<form th:action="@{/saveRole}" method="post">
<div class="form-group">
<label class="control-label">RoleName:</label>
<input class="form-control" type="text" name="roleName"
th:value="${role.roleName}" required/>
<span class="red" th:errors="${role.roleName}"></span>
</div>

<div>
<button type="submit" class="btn btn-primary">Save</button>
</div>

</form>
</div>
</div>
</div>
</div>
</body>
</html>